player-connection-mode=Listen
player-connection-guid=593951549
player-connection-debug=0
player-connection-project-name=multiplayer-madness-temp
player-connection-ip=192.168.0.10
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=f3bcd9f0c1f94a98b9416853fb0dde47
